/* basic resets */
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  body {
    background-color: #161616;
  }

header {
    display: flex;
    align-items: center;
    height: 50px;
    margin:0 0 0 10px
}

#width-display {
  font-size: 12px;
  color: white;
  position:absolute;
  right: 10px;
  top: 0;
}

#logo {
    font-family: "Kaushan Script", serif;
    color:rgb(246, 248, 249, 0.7);
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0 5px;
}

#logo-breath {
    height: 20px;
    width: 30px;
    cursor: text;
    opacity: 0.8;
}

.card-container {

  /* background-color:rgb(74, 74, 74); */
  width: 460px;
  height: 270px;
  position: relative;
  margin: 20px auto 15px;

}
  
  .card {
    width: 450px;
    height: 260px;
    background: rgb(27, 27, 27);
    margin: 5px;
    border-radius: 10px;
    position: absolute;
  }
  
  .card:first-of-type {
    border-left: 2.5px solid rgb(246, 248, 249, 0.8);
    border-top: 2.5px solid rgba(246, 248, 249, 0.8);
    border-right: 0.5px solid rgb(246, 248, 249, 0.8);
    border-bottom: 0.5px solid rgb(246, 248, 249, 0.3);
  }
  
  .card:nth-of-type(2) {
    border-left: 2.5px solid rgb(246, 248, 249, 0.8);
    border-top: 2.5px solid rgba(246, 248, 249, 0.8);
    border-right: 0.5px solid rgb(246, 248, 249, 0.8);
    border-bottom: 0.5px solid rgb(246, 248, 249, 0.3);
  }
  
  .card:last-of-type {
    border-left: 2.5px solid rgb(246, 248, 249, 0.8);
    border-top: 2.5px solid rgba(246, 248, 249, 0.8);
    border-right: 0.5px solid rgb(246, 248, 249, 0.8);
    border-bottom: 0.5px solid rgb(246, 248, 249, 0.3);
  }
  
  .card-content {
    color:rgb(246, 248, 249, 0.7);
    padding: 10px 30px;
  }
  
  h2 {
    font-family: "Kaushan Script", serif;
    border-bottom: 2px solid rgba(246, 248, 249, 0.8);
    text-align: center;
    padding-bottom: 8px;
  }
  
  h3 {
    font-size: 22px;
    text-align: center;
  }
  
  .card-content p {
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
  }
  
  .btn {
    color: rgba(246, 248, 249, 0.8);
    font-size: 17px;
    letter-spacing: 1.5px;
    text-decoration: none;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid rgba(246, 248, 249, 0.8);
    border-radius: 4px;
    padding: 2px 25px;
    transition: all 0.2s;
  }
  
  .btn:hover {
    padding: 2px 26px;
    background-color: rgb(38, 38, 38);
    transition: all 0.2s;

  }


/* Circle Selector Styles */

#selectors {
  display: flex;
  justify-content: center;
}

#circle-wrapper {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.circle {
  width: 15px;
  height: 15px;
  border: 2px solid rgba(246, 248, 249, 0.8);
  border-radius: 50%;
}

/* circle links */
[id^=breath]{
  display: none;
  
}

#breath-box:target {
  display: block;
  z-index: 10;
}

#breath-triangle:target {
  display: block;
  z-index: 10;
}

#breath-circle:target {
  display: block;
  z-index: 10;
}



